# Frontend domain (şifre sıfırlama linki)
APP_DOMAIN=http://localhost:3000/
PORT=3000

# Mongo
MONGODB_USER=your_db_user
MONGODB_PASSWORD=your_db_pass
MONGODB_URL=cluster0.xxxxx.mongodb.net
MONGODB_DB=contactsdb

# Brevo / SMTP
SMTP_HOST=smyp_host
SMTP_PORT=587
SMTP_USER=user@mail.com
SMTP_PASSWORD=smtp_key_value
SMTP_FROM=from@mail.com

# JWT
JWT_SECRET=secret_key
JWT_RESET_EXPIRES=5m

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret