PORT=3000
MONGODB_USER=your_db_user
MONGODB_PASSWORD=your_db_pass
MONGODB_URL=cluster0.xxxxx.mongodb.net
MONGODB_DB=contactsdb

SMTP_HOST=smyp_host
SMTP_PORT=587
SMTP_USER=user@mail.com
SMTP_PASSWORD=smtp_key_value
SMTP_FROM=from@mail.cm